.menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.menu .card {
    flex: 1 0 100%;
}

.menu .card input {
    color: hsl(227, 29%, 65%);
    font-size: 26px;
    font-weight: 200;
    line-height: 40px;
}

.menu .card a {
    font-weight: 500;
    color: hsla(0, 0%, 100%, 0.7);
    cursor: pointer;
    margin-left: 2px;
}

.menu .card a:hover {
    color: hsla(0, 0%, 100%, 0.9);
}