.room {
    display: flex;
    margin: auto;
    padding: 110px 50px 100px;
    min-height: calc(100vh - 64px);
    transition: 0.2s ease-in-out max-width;
}

.room.rows-2 {
    max-width: 900px;
}

.room.rows-3 {
    max-width: 1250px;
}

.room.rows-4 {
    max-width: 1500px;
}