:root {
    --primary-color: hsl(227, 71%, 11%);
    --secondary-color: hsl(230, 38%, 20%);

    --accent-color: hsl(227, 63%, 74%);
    --accent-color-darker: hsl(227, 43%, 64%);

    --border-color: hsla(227, 43%, 64%, 0.16);

    --blue-color: hsl(227, 64%, 54%);
    --red-color: hsl(0, 70%, 48%);
    --green-color: hsl(144, 56%, 53%);
}

body {
    margin: 0;
    color: hsla(0, 0%, 82%, 88%);
    background-color: var(--primary-color);
    font-family: Inter;
    font-size: 16px;
    overflow-x: hidden;
}

*, *:before, *:after {
    box-sizing: border-box;
}
