.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

.button button {
    background-color: var(--accent-color);
    border: none;
    height: 35px;
    padding: 0 20px;
    min-width: 125px;
    border-radius: 35px;
    font-size: 13px;
    color: hsl(225, 39%, 35%);
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: Inter;
}

.button.empty button {
    background-color: var(--default-color);
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
}

.button.min button {
    height: 24px;
    font-size: 11px;
    margin: 0;
}

.button.circle {
    width: auto;
    display: block;
}

.button.circle button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    margin: 0;
    padding: 0;
    min-width: 0;
}

.button.circle.large button {
    width: 35px;
    height: 35px;
}

.button button:hover {
    background-color: var(--accent-color-darker);
    cursor: pointer;
}

.button.empty button:hover {
    background-color: var(--secondary-color);
}

button:focus {
    outline-color: hsl(208, 52%, 53%);
    outline-width: 3px;
}