.card {
    padding: 30px;
    background-color: hsl(230, 38%, 20%);
    box-shadow: var(--default-box-shadow);
    border-radius: 8px;
    margin: 20px 0;
}

.card.min {
    display: flex;
    padding: 10px 30px;
    margin: 30px 0;
}
