.input {
    width: 100%;
    padding: 10px;
}

.input .input-header {
    padding: 5px 0;
    font-size: 12px;
    font-weight: 700;
    color: hsla(0, 0%, 80%, 0.6);
}

.input input, .input textarea {
    width: 100%;
    border: 0;
    border-bottom: 1px solid hsl(226, 23%, 30%);
    background-color: inherit;
    font-family: Inter;
    font-size: 15px;
    color: hsl(0, 0%, 78%);
}

.input input {
    line-height: 30px;
}

.input input::placeholder, .input textarea::placeholder {
    color: hsla(224, 53%, 82%, 0.2);
}

.input input:focus, .input textarea:focus {
    outline: none;
    border-bottom-color: var(--accent-color-darker);
    border-bottom-width: 2px;
}

.input input:focus {
    margin-bottom: -1px;
}